<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>TestEmail</title>
</head>

<body>
  <div style="margin-bottom: 30px;">
    {{{body}}}
  </div>
  <table>
    <tr>
      <td rowspan="4">
        <img src="cid:logo@cid" />
      </td>
    </tr>
    <tr>
      <td><span style="border-left: 2px solid blue; padding-left: 5px">Vrpoljacka cesta 80, Sibenik, Croatia</span></td>
    <tr>
      <td>
        <span style="border-left: 2px solid blue; padding-left: 5px">
          <a name="laundry-homepage" href="#" target="_blank">www.clean-laundry.com</a>
        </span>
      </td>
    </tr>
    </tr>
    <tr>
      <td><span style="border-left: 2px solid blue; padding-left: 5px">+385955211142</span></td>
    </tr>
  </table>
</body>

</html>
