<div>
  <p style="margin-bottom: 10px;">Hello {{name}}</p>
  <p>Your password has been successfully reseted.</p>
  <div style="margin-top: 30px">
    <p>Cheers,</p>
    <p>Your Application Team</p>
  </div>
</div>
